html,
body {
    height: 100%;
    background: #e0e3e4;
}

.wrapper {
    height: 100%;
    background: url('images/background.png');
    padding: 40px 100px;
    /* background-repeat: repeat-y; */
    background-size: 100% 100%;
}

.wrapper .button-list {
    margin-top: 0px !important;
}

div.panel {
    background: transparent !important;
    border: none !important;
    margin-bottom: 40px;
}

h5 {
    margin-bottom: 30px;
}

.wrapper button {
    background: transparent;
    border: none;
}

.model-navigation-bar {
    height: 2px;
    background: url('images/icons/model_navigation_bar.png');
    background-size: 100% 100%;
    margin: 0px 6px;
    opacity: 0.7;
}

.navigation-bar {
    height: 2px;
    background: url('images/icons/navigation_bar.png');
    background-size: 100% 100%;
    margin: 0px 6px;
    opacity: 0.7;
}

.carousel-inner {
    margin-top: 23%;
}

.carousel-inner img {
    width: 40%;
    margin: auto;
}
#strap-detail{
    margin-top:50px;
}
#price{
    color:#0796b3
}
#price{
    font-size: 70px;
}
#depricate-price{
    font-size:20px;
    text-decoration-line:line-through;
}
#select-model button{
    opacity: 0.6;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;
}
#select-model button.active{
    opacity: 1.0;
}
#select-model button:hover{
    opacity: 1.0;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;
}

#select-case-color button.active img{
    border-radius: 15px;
    border:solid 1px rgb(19, 19, 32);
}

#select-dial button.active img{
    border-radius: 15px;
    border:solid 1px rgb(19, 19, 32);
}

#select-strap button.active{
    border: 1px solid rgba(33, 33, 33, 0.1);
    border-radius: 2px;
}
#select-buckle button.active img{
    border-radius: 15px;
    border:solid 1px rgb(19, 19, 32);
}
#band-available-color button{
    opacity: 0.7;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;
}
#band-available-color button:hover{
    opacity: 1;
    -webkit-transition-delay: 0.1s; /* Safari */
    transition-delay: 0.1s;
}
#band-available-color button.active{
    opacity:1.0;
}
#carousel-inner img{
    transition-timing-function: ease;
}
#band-available-color{
    display:none;
}
#band-available-color.active{
    display: inline-block;
}